.padding-down {
    margin-top: 10px;
    margin-left: 10px;
}

body {
    background-image: url('sovngarde.jpg');
}

div.main-background {
    display: table-cell;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    width: 1200px;
    height: 555px;
    background-color: white;
}

p {
    text-align: center;
    margin-top: -40px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}