.padding-down {
    margin-top: 10px;
    margin-left: 10px;
}

body {
    background-image: url('sovngarde.jpg');
}

.main-background {
    display: table-cell;
    margin-left:auto;
    margin-right:auto;
    width: 1200px;
    height: 555px;
    background-color: white;
}

.alignleft {
  padding-left: 20px;  
  border: #455a64 thick hidden;
}

.italy {
    font-style: italic;
    color: grey;
}

.notasbig {
    font-size: 40px;
}